body{
    width: 500px;
    height: 500px;
    background-color: rgb(21, 20, 26);
}

#selector{
    text-align: center;
    color: aliceblue;
    margin: 20px auto;
}
#jokeSelector{
    position: relative;
    display: inline;
    right: 100px;
}
#memeSelector{
    position: relative;
    display: inline;
    left: 100px;
}

.displayType{
    font-size: 1.5rem;
    font-family: 'Luckiest Guy', cursive;
}
.displayType:hover{
    color: rgb(145, 145, 145);
}

#display{
    text-align: center;
    margin: 40px auto;
}

#memeImage{
    width:auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}

#joke{
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
    margin: auto 25px;
    padding: 10px;
    border: 2px solid rgb(126, 23, 196);
    border-radius: 5px;
    font-family: 'Caveat', cursive;
}


#controlers{
    text-align: center;
}
.controlButtons{
    margin: 10px 50px;
    padding: 5px 15px;
    font-size: 1.3rem;
    border-radius: 15%;
    border: none;
}
.controlButtons:hover{
    background-color: rgb(126, 23, 196);
    color: #fff;
    font-size: 2rem;
}